html, body {
  height: 100%;
  width: 100%;
}
body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-image: url("https://media.giphy.com/media/3kAMvOp2Wlk0luXJRc/giphy.gif");
  font-size: 28px;
  color: #000000;
  background-repeat: no-repeat;
  background-size: cover;

} 

  
table{   
  background-color:#3e3c3c;   
  width: 50%;  
  color: #050000;   
  padding: 15px;   
  margin: 10px 0px;   
  border: 5px black;   
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;
  margin: auto;
  }  

 form {   
  border: 5px white;  
    }  

 input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid white;   
    box-sizing: border-box;   
    }  

 .submission:hover {   
    opacity: 0.7;   
    }  
.submission{
  background-color: #ffffff;
  color: black;
  padding: 14px 20px;
  margin: 10px 0;
  margin-left: 380px;
  border: none;
  cursor: pointer;
  width: 50%;
  font-size: 20px;
  border-radius: 25px;
  position: fixed;
  top: 45%;
  left: 47%;
  transform: translate(-92%,-50%);
}
